* {
    box-sizing: border-box;
    padding: 0px;
}


.home__heading{
    font-size: 150px;
    text-align: center;
    line-height: 194px;
}

.thinking {
    height: 100Vh;
    width: 80Vw;
    margin-left: 42vh;
    margin-top: 210px;
    border: 0.1px solid white;

}

.thinking video {
    position: absolute;
    height: 100Vh;
    width: 80Vw;
    z-index: -1;
}

.thinking h2 {
    font-size: 100px;
    height: 39vh;
    margin: 0px;
    width: 33vw;
    margin-top: -158px;
    margin-left: 85px;
    line-height: 100px;
}

h3 {
    font-size: 100px;
    width: 50vw;
    margin-left: 18vw;
    z-index: 999;
}

.pic1 {
    height: 19vw;
    width: 30vw;
    margin: -128px 4px -297px 721px;
    border: 0.1px solid white;
    z-index: -1;
}

.pic1 video {
    position: absolute;
    height: 19vw;
    width: 30vw;
}

.home__pics {
    height: 100vh;
    width: 100%;
    margin-top: 55vh;
    border: 0.1px solid white;
}

.home__pics h4 {
    font-size: 100px;
    margin: -63px 20px 20px 127px;
}

.pic__info {
    height: 17vh;
    width: 41vw;
    margin: 577px 0px 0px 734px;
    display: flex;
    justify-content: space-around;
    background: #2b2b2b;
    color: white;
}

.info1 {
    height: 23vh;
    width: 28vw;
    text-align: center;
}
.info1__para{
    color: white;

}

.info2 {
    height: 23vh;
    width: 28vw;
    text-align: center;

}

.info3 {
    height: 23vh;
    width: 28vw;
    text-align: center;

}

.home__pics img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

@media (min-width: 0px) and (max-width: 600px) {
    .home__heading {
        font-size: 56px;
        line-height: 59px;
        width: 100vw;
        margin: 66px 0px 0px 0px;
    }

    .thinking {
        height: 51Vh;
        width: 79Vw;
        margin-left: 11.2vh;
        margin-top: 0px;
    }

    .thinking video{
        height: 51Vh;
        width: 79Vw;

    }

    .thinking h2 {
        font-size: 48px;
        height: 19vh;
        margin: 0px;
        width: 68vw;
        margin-top: 50px;
        margin-left: -44px;
        line-height: 48px;
    }

    h3 {
        font-size: 40px;
        width: 79vw;
        margin-left: 21vw;
    }

    .pic1 {
        height: 37vw;
        width: 45vw;
        margin: -65px 4px -297px 177px;
    }

    .pic1 video{
        height: 37vw;
        width: 45vw;
    }

    .home__pics {
        height: 53vh;
        margin-top: 10vh;
    }

    .home__pics img {
        height: 53vh;
    }

    .home__pic1 {
        margin-top: 65vh;
    }

    .home__pics h4 {
        font-size: 50px;
        margin: -37px 20px 20px 10px;
    }

    .pic__info {
        height: 9vh;
        width: 63vw;
        margin: 261px 10px 10px 99px;
    }

    .info1 {
        height: 100%;
        width: 21vw;
        font-size: 8px;
    }
    

    .info2 {
        height: 100%;
        width: 21vw;
        font-size: 8px;
    }

    .info3 {
        height: 100%;
        width: 21vw;
        font-size: 8px;
    }

    .info1__para{
        font-size: 10px;
        margin: 10px 0px 0px 0px;
    }
    .info__h5{
        margin: 10px 0px 0px 0px;
        font-size: 10px;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .home__heading {
        font-size: 108px;
        line-height: 100px;
    }

    .thinking {
        margin-left: 33vh;
    }

    .thinking h2 {
        font-size: 48px;
        height: 39vh;
        margin: 0px;
        width: 68vw;
        margin-top: -31px;
        margin-left: 24px;
        line-height: 48px;
    }

    h3 {
        font-size: 54px;
        width: 40vw;
        margin-left: 19vw;
    }

    .pic1 {
        height: 24vw;
        width: 37vw;
        margin: -81px 4px -297px 385px;
    }

    .pic1 video{
        height: 24vw;
        width: 37vw;
    }

    .home__pics {
        height: 53vh;
        margin-top: 10vh;
    }

    .home__pics img {
        height: 53vh;
    }

    .home__pic1 {
        margin-top: 55vh;
    }

    .home__pics h4 {
        font-size: 50px;
        margin: -37px 20px 20px 10px;
    }

    .pic__info {
        height: 12vh;
        width: 46vw;
        margin: 250px 10px 10px 467px;
    }

    .info1 {
        height: 100%;
        width: 21vw;
        font-size: 10px;
    }

    .info2 {
        height: 100%;
        width: 21vw;
        font-size: 10px;
    }

    .info3 {
        height: 100%;
        width: 21vw;
        font-size: 10px;
    }
    .info1__para{
        font-size: 15px;
        margin: 10px 0px 0px 0px;
    }
    .info__h5{
        margin: 10px 0px 0px 0px;
        font-size: 15px;
    }
}